# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
.env.*

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Data (VERY IMPORTANT)
# -------------------------
data/
*.mp4
*.zip
*.vrs
*.csv

# -------------------------
# Model checkpoints
# -------------------------
*.pth
*.pt
*.ckpt

# -------------------------
# Logs / outputs
# -------------------------
logs/
runs/
outputs/

# -------------------------
# Notebooks checkpoints
# -------------------------
.ipynb_checkpoints/
